.git
.github
venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
**/.DS_Store
**/Thumbs.db

django_backend/db.sqlite3
django_backend/db.sqlite3-journal
django_backend/media
django_backend/staticfiles

react_frontend/node_modules
react_frontend/dist
slack-ai-agent/logs
